In [8]:
import arff
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
!pip install liac-arff

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: liac-arff in /usr/local/lib/python3.10/dist-packages (2.5.0)

In [9]:
# Step 1: Load the dataset
data = arff.load(open('/content/albrecht.arff', 'r'))
dataset = pd.DataFrame(data['data'])

In [10]:
dataset.head()

       0      1     2     3     4        5       6      7
0   25.0  150.0  75.0  60.0  1.00  1750.00  1750.0  102.4
1  193.0   98.0  70.0  36.0  1.00  1902.00  1902.0  105.2
2   70.0   27.0   0.0  12.0  0.80   535.00   428.0   11.1
3   40.0   60.0  20.0  12.0  1.15   660.00   759.0   21.1
4   10.0   69.0   1.0   9.0  0.90   478.89   431.0   28.8

In [24]:
dataset

        0      1     2     3     4        5       6      7
0    25.0  150.0  75.0  60.0  1.00  1750.00  1750.0  102.4
1   193.0   98.0  70.0  36.0  1.00  1902.00  1902.0  105.2
2    70.0   27.0   0.0  12.0  0.80   535.00   428.0   11.1
3    40.0   60.0  20.0  12.0  1.15   660.00   759.0   21.1
4    10.0   69.0   1.0   9.0  0.90   478.89   431.0   28.8
5    13.0   19.0   0.0  23.0  0.75   377.33   283.0   10.0
6    34.0   14.0   0.0   5.0  0.80   256.25   205.0    8.0
7    17.0   17.0  15.0   5.0  1.10   262.73   289.0    4.9
8    45.0   64.0  14.0  16.0  0.95   715.79   680.0   12.9
9    40.0   60.0  20.0  15.0  1.15   690.43   794.0   19.0
10   41.0   27.0  29.0   5.0  1.10   465.45   512.0   10.8
11   33.0   17.0   8.0   5.0  0.75   298.67   224.0    2.9
12   28.0   41.0  16.0  11.0  0.85   490.59   417.0    7.5
13   43.0   40.0  20.0  35.0  0.85   802.35   682.0   12.0
14    7.0   12.0  13.0   8.0  0.95   220.00   209.0    4.1
15   28.0   38.0  24.0   9.0  1.05   487.62   512.0   15.8
16   42.0   57.0  12.0   5.0  1.10   550.91   606.0   18.3
17   27.0   20.0  24.0   6.0  1.10   363.64   400.0    8.9
18   48.0   66.0  13.0  50.0  1.15  1073.91  1235.0   38.1
19   69.0  112.0  21.0  39.0  1.20  1310.00  1572.0   61.2
20   25.0   28.0   4.0  22.0  1.05   476.19   500.0    3.6
21   61.0   68.0   0.0  11.0  1.00   694.00   694.0   11.8
22   15.0   15.0   6.0   3.0  1.05   189.52   199.0    0.5
23   12.0   15.0   0.0  15.0  0.95   273.68   260.0    6.1

In [12]:
dataset.shape

(24, 8)

In [13]:
# Step 2: Data preprocessing (converting data into X(features) and Y(labels))
X = dataset.iloc[:, :-1].values # except last column
y = dataset.iloc[:, -1].values # only the last column ( because thats what we want our value as )

In [16]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# Scale the features
# The Standard scalar feature will normalize the features
# It will convert features such that mean = 0  and Standard deviation = 1
# It is beneficial for NN
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
# Step 3: Design the ANN architecture
model = Sequential()
# The Dense layer consists of 10 neurons and expects an input dimension equal 
# to the number of features in the training data (X_train.shape[1]).
# The activation function 'relu' (Rectified Linear Unit) is applied to
# introduce non-linearity to the model.
model.add(Dense(10, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(10, activation='relu'))
# This line adds the output layer to the model, which consists of a single neuron.
# The activation function 'linear' is used since this is a regression problem
# and we want the model to predict continuous values.
model.add(Dense(1, activation='linear'))

In [19]:
# Step 4: Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')

In [31]:
# Step 5: Train the model
# we can reduce batch size for frequent weight updates
model.fit(X_train, y_train, epochs=25, batch_size=10, verbose=1)

Epoch 1/25
2/2 [==============================] - 0s 10ms/step - loss: 50.4064
Epoch 2/25
2/2 [==============================] - 0s 8ms/step - loss: 49.8431
Epoch 3/25
2/2 [==============================] - 0s 6ms/step - loss: 49.2276
Epoch 4/25
2/2 [==============================] - 0s 8ms/step - loss: 48.9087
Epoch 5/25
2/2 [==============================] - 0s 7ms/step - loss: 48.4403
Epoch 6/25
2/2 [==============================] - 0s 7ms/step - loss: 48.0268
Epoch 7/25
2/2 [==============================] - 0s 8ms/step - loss: 47.6248
Epoch 8/25
2/2 [==============================] - 0s 7ms/step - loss: 47.3352
Epoch 9/25
2/2 [==============================] - 0s 8ms/step - loss: 47.0942
Epoch 10/25
2/2 [==============================] - 0s 9ms/step - loss: 46.7341
Epoch 11/25
2/2 [==============================] - 0s 8ms/step - loss: 46.5248
Epoch 12/25
2/2 [==============================] - 0s 7ms/step - loss: 46.2922
Epoch 13/25
2/2 [==============================] - 0s 8ms/step - loss: 46.0477
Epoch 14/25
2/2 [==============================] - 0s 8ms/step - loss: 45.8079
Epoch 15/25
2/2 [==============================] - 0s 7ms/step - loss: 45.5722
Epoch 16/25
2/2 [==============================] - 0s 6ms/step - loss: 45.2655
Epoch 17/25
2/2 [==============================] - 0s 7ms/step - loss: 45.1482
Epoch 18/25
2/2 [==============================] - 0s 7ms/step - loss: 44.9105
Epoch 19/25
2/2 [==============================] - 0s 6ms/step - loss: 44.7428
Epoch 20/25
2/2 [==============================] - 0s 6ms/step - loss: 44.4911
Epoch 21/25
2/2 [==============================] - 0s 7ms/step - loss: 44.2715
Epoch 22/25
2/2 [==============================] - 0s 8ms/step - loss: 44.1758
Epoch 23/25
2/2 [==============================] - 0s 8ms/step - loss: 44.0217
Epoch 24/25
2/2 [==============================] - 0s 8ms/step - loss: 43.7497
Epoch 25/25
2/2 [==============================] - 0s 8ms/step - loss: 43.6747

In [32]:
# Step 6: Evaluate the model
mse = model.evaluate(X_test, y_test)
print("Mean Squared Error:", mse)

1/1 [==============================] - 0s 30ms/step - loss: 38.3877
Mean Squared Error: 38.387672424316406

In [35]:
# Step 7: Make predictions
new_data = np.array([[25.0,150.0,75.0,60.0,1.00,1750.00,1750.0]])  # Example input for prediction
new_data_scaled = scaler.transform(new_data)
predictions = model.predict(new_data_scaled)
print("Estimated software development efforts:", predictions)

1/1 [==============================] - 0s 23ms/step
Estimated software development efforts: [[92.57103]]

In [36]:
# we can compare the first row data
# expected o/p = 102
# predicted o/p = 92.57
dataset.head()

       0      1     2     3     4        5       6      7
0   25.0  150.0  75.0  60.0  1.00  1750.00  1750.0  102.4
1  193.0   98.0  70.0  36.0  1.00  1902.00  1902.0  105.2
2   70.0   27.0   0.0  12.0  0.80   535.00   428.0   11.1
3   40.0   60.0  20.0  12.0  1.15   660.00   759.0   21.1
4   10.0   69.0   1.0   9.0  0.90   478.89   431.0   28.8